<button class="btn btn-primary" (click)="onAddContact()">
  add Contact
</button>
<div class="card border-primary mb-3">
  <div class="card-header bg-primary text-white "> Contacts Component</div>
  <div class="card-body">
    <div *ngIf="contacts.length>0 ; else noContacts">
      <h3>Contact list</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of contacts">
            <td>{{c.name}}</td>
            <td><a class="btn btn-success" routerLink="/contacts/{{c.id}}">Detail</a></td>
            <td><a class="btn btn-danger"  (click)="onDelete(c.id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noContacts>
      <p>No Contacts</p>
    </ng-template>
  </div>
</div>
<button class="btn btn-primary" (click)="onAbout()">
  Go to About
</button>

