<div class="card border-prmary mb-3">
    <div class="card-header bg-primary test-white "> Edit Contact Component with reactive form </div>
    <div class="card-body">
        <h3>Add Contact</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control"
                formControlName="name"
                [ngClass]="{'is-invalid' :contactForm.get('name').dirty && contactForm.get('name').invalid}">
                <div *ngIf="contactForm.get('name').dirty && contactForm.get('name').invalid" class="invalide-feedback" >
                    <div *ngIf="contactForm.get('name').hasError('required')">
                        Please provide a name.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control"
                    formControlName="email"
                    [ngClass]="{'is-invalid' :contactForm.get('email').dirty && contactForm.get('email').invalid}">
                    <div *ngIf="contactForm.get('email').dirty && contactForm.get('email').invalid" class="invalide-feedback" >
                        <div *ngIf="contactForm.get('email').hasError('required')">
                            Please provide an email.
                        </div>
                        <div *ngIf="contactForm.get('email').hasError('email')">
                            Please provide a valide email address.
                        </div>
                    </div>  
                </div>
                <div class="col">
                    <label for="website">Website</label>
                    <input type="" id="website" class="form-control"
                    formControlName="website"
                    [ngClass]="{'is-invalid' :contactForm.get('website').dirty && contactForm.get('website').invalid}">
                    <div *ngIf="contactForm.get('website').dirty && contactForm.get('website').invalid" class="invalide-feedback" >
                        <div *ngIf="contactForm.get('website').hasError('required')">
                            Please provide a website.
                        </div>
                        <div *ngIf="contactForm.get('website').hasError('pattern')">
                            Please provide a valid URL (https://...).
                        </div>
                    </div>    
                </div>
            </div> 
            <div class="form-group">
                <label for="projects">Projects (seperated with comma ",")</label>
                <input type="url" id="projects" class="form-control"
                formControlName="projects"
                [ngClass]="{'is-invalid' :contactForm.get('projects').dirty && contactForm.get('projects').invalid}">
                <div *ngIf="contactForm.get('projects').dirty && contactForm.get('projects').invalid" class="invalide-feedback" >
                    <div *ngIf="contactForm.get('projects').hasError('required')">
                        Please provide projects.
                    </div>
                </div>  
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Save</button>

        </form>
    </div>
</div>
<button class="btn btn-primary" (click)="onContacts()">
    Go to Contacts
</button>