<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white"> Edit Contact Component</div>
    <div class="card-body">
        <h3 *ngIf="!contact.id; else update">Add contact</h3>
        <ng-template #update><h3>Update Contact</h3> </ng-template>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" [ngClass]="{'is-invalid' :name.invalid && name.dirty}"
                #name="ngModel" required [(ngModel)]="contact.name">
                <div *ngIf="name.invalid && name.dirty" class="invalid-feedback">Please provoide a name.</div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" [ngClass]="{'is-invalid' :email.invalid && email.dirty}"
                     name="email" #email="ngModel" required [(ngModel)]="contact.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.+[a-z]{2,4}$"  ngModel>
                     <div *ngIf="email.invalid && email.dirty" class="invalid-feedback">Please provoide a email adress.</div>
                </div>
                <div class="col">
                    <label for="website">Website</label>
                    <input type="text" id="website" class="form-control"  [ngClass]="{'is-invalid' :website.invalid && website.dirty}" 
                     name="website" #website="ngModel" required pattern="https?://.+"[(ngModel)]="contact.website">
                     <div *ngIf="website.invalid && website.dirty" class="invalid-feedback">Please provoide a valid url(http://...).</div> 
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="projects">Projects (seperated with comma",")</label>
                <input type="text" id="projects" class="form-control" name="projects"  [ngClass]="{'is-invalid' :projects.invalid && projects.dirty}" 
                #projects="ngModel" required [(ngModel)]="contact.projects">
                <div *ngIf="projects.invalid && projects.dirty" class="invalid-feedback">Please provoide a email project.</div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalide">Save</button>
        </form>
    </div>
</div>
<button class="btn btn-primary" (click)="onContacts()">
    Go to Contacts
</button>